<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahemdhammouda.malvoyants">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Helper.LoginActivity" />
        <activity
            android:name=".SalonnActivity"
            android:label="@string/title_activity_value"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CuisineActivity"
            android:label="@string/title_activity_salon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BainActivity"
            android:label="@string/title_activity_bain"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>